# Diretório de ambiente virtual
venv/
env/

# Arquivos de configuração e variáveis de ambiente
.env
*.env

# Cache do Python
__pycache__/
*.py[cod]

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak

# Configurações de IDE
.vscode/
.idea/